.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button, .button-secondary {
    margin-left: 50px;
    background-color: aqua;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.button-secondary {
    background-color: aquamarine;
}
.button:hover {
    background-color: cadetblue;
}
.options > button {
    margin: 0;
}
.input{
margin-left: 50px;
}
