.container{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.App{
  background-color: aqua;
  margin-left: 10px;
  margin-top: 40px;
  height: 2vh;
  width: 3vw;
  vertical-align:bottom;
  display: inline-block;
}